body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
}

:root {
    --background-color: #f7f7f7;
    --menu-color:#242323;
    --header:#000;
    --content-color:#4B4B4B;
    --font-family:"Poppins", sans-serif;
    --primary:#fff;
    --heading:3rem;
    --content:1.125rem;
    --footer_heading:#D9D9D9;
    --footer-content:#8E8E8E;
  }
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;  
}
ul{
margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}


/* /////////////////////////////////////thanyou start///////////////////////////////// */
.thanyou{
  padding: 60px 0;
  text-align: center;
}
.thank{
  padding-top:60px ;
}
.thank img {
    background-color: #009175;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 18px;
}
.thank h2 {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 30px;
}
.thank h4{
  font-size: 1.5rem;
  color: #B1927E;
  padding-top: 20px;
  font-weight: 600;
}
.thank h5{
  font-size: 1.25rem;
  color: #000;
   padding-top: 20px;
  font-weight: 500;
}

.contact_heading h5 {
    padding-bottom: 30px;
    position: relative;
}
.step.active {
    color: #B1927E;
    font-weight: 500;
    border-bottom: 2px solid #B1927E;
}
.step {
    color: #000;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0 30px;
}
.thank img {
    background-color: #009175;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 18px;
}
.cart {
    text-align: center;
    padding-top: 60px;
    position: relative;
}
.contact_heading h5::before {
    position: absolute;
    content: "";
    border: 1px dashed #B1927E;
top: 11px;
    left: 493px;
    width: 40px;
}
.contact_heading h5::after {
    position: absolute;
    content: "";
    border: 1px dashed #B1927E;
      top: 11px;
    left: 654px;
    width: 43px
}
/* ////////////////////////////////////thanyou end//////////////////////////////////// */